.root {
  background: #161616;

  mat-drawer-container {
    background: transparent;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
  }

  .carregada {
    animation: fadein 1.2s ease-in-out;
    opacity: 1;
  }

  main {
    background: rgba(#161616, 0.97);
    z-index: 2;
    padding: 40px;
  }

  mat-drawer.login {
    width: 30%;
    max-width: 480px;
    background: #272727;
  }

  mat-drawer.cadastro {
    width: 45%;
    max-width: 700px;
    background: #191919;
  }

  section {
    animation: subir 1s ease-in-out;

    h1 {
      font-size: 48px;
      color: #fff;
      text-shadow: 2px 2px 3px rgba(#000, 0.5);
      margin: 0 0 40px;
      font-weight: 500;
    }

    p {
      opacity: 0.3;
      margin: 0 0 40px;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes subir {
  from {
    opacity: 0;
    margin-bottom: -30px;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}
